/* LOGO */

.logo-default {
    width: 80px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.page-header.navbar .page-logo .logo-default {
    margin-top: 10px!important;
}
.page-sidebar .page-sidebar-menu{
	padding-top: 20px;
}